
    #mainmenu {
    height: 28px; /* need for eficient position*/
}
#mainmenu > ul > li {  
    overflow: visible;
    display: block; 
    float: left; 
}
#mainmenu > ul > li ul { 
    display: none;
    position: absolute;
    background: #FFF; 
    padding: 0;
    height: auto; 
}
/* drop down menu */
#mainmenu > ul > li > ul { 
    margin-top: 2px;
    
}
/* others sub menus */
#mainmenu > ul > li > ul li ul { 
    margin-top: -20px; /* align with parent*/
    left:99%;
    width: 100%;
}

#mainmenu ul li:hover > ul { 
    display: block; 
}
#mainmenu ul li ul li a{
    padding: 4px 14px; 
    background-color: #EFF4FA;
    color: #6399CD;
    text-decoration: none;
    display: block;
}
#mainmenu ul li ul li a:hover { 
    color: #fff; 
    background:#0066CC
}
#back-top {
    position: fixed;
    bottom: 30px;
    margin-left: -200px;
}
#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(/img/up.jpg) no-repeat center center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}

